* {
  margin: 0;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__tittle {
  margin: 40px;
}

input {
  width: 800px;
  max-width: 90%;
  font-size: 16px;
  padding: 10px;
}

button {
  padding: 10px;
  margin-top: 20px;
}

.app__forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: lightgray;
  margin: 20px;
}
.day span {
  padding: 5px;
}